
/* remove default blue border around buttons */
.cell:focus {outline:0;}

.cell{
  width: 30px;
  height: 30px;
  display: block;
  border: 1px solid #333;
  cursor: pointer;
  font-size: 1.6em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: #A1887F;
}

.cell.open{
  background-color: #9CCC65;
}

.cell.marked{
  background-color: lightcoral;
  border-color: #c62828;
}

.cell.bomb.open{
  background-color: #d50000;
}

.cell.danger{
  color: #666;
}

